TEXTIN_APP_ID=your_app_id_here
TEXTIN_SECRET_CODE=your_secret_code_here
TEXTIN_BASE_URL=https://api.textin.com
TEXTIN_REQUEST_TIMEOUT_MS=30000
OCR2MD_DEFAULT_CONCURRENCY=3
OCR2MD_MAX_FILE_BYTES=524288000
